.hashtag {
    color: #5295FF;
    background: #F5F5F5 !important;
  }
  
.content {
  text-wrap: wrap;
}

.ant-modal {
  width: 60vw !important;
}

.ant-modal-body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ant-card {
  width: 100% !important;
}

.ant-select-selector {
  background: whitesmoke !important;
}

pre {
  text-wrap: wrap;
}

.ant-form-item {
  margin-bottom: 10px;
}