
.admin{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin:0;
    padding:0;
    background-color: #3E3E3E;

}

body{
    margin: 0;
    padding: 0;
    background-color: #3E3E3E;
}

.sidebar{
    /* margin-top:4.5%; */
    height: 100%;
    width: 15%;
    background-color: #3E3E3E;
    color: #fff;
    position:fixed;
    left: 0;    
    /* border-right: 2px solid grey; */
}




.link{
    display: flex;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    gap: 15px;
}

.link:hover{
    background-color: #D9D9D9;
    color:#2F4050;
}

.active{
    background-color: #D9D9D9;
    color:#2F4050;
}


.mgtTools{
    margin-top: 40%;
}

.sidebar .icon{
    flex: 30%;
    display:grid;
    place-items: center;
}

.sidebar .title{
    flex:70%;
    font-size: 18px;
}

.PostMgt{
margin-top: 6%;
margin-left: 15%;
width: 100%;
}

.usermgt{
    background-color: #3E3E3E;
    margin-top: 6%;
    margin-left: 15%;
    width: 100%;
    height:100%;
}

.mainUsermgt,.mainPostmgt{
    width: 80%;
    height: 100%;
    background-color: #E2EDED;
    border-radius: 15px;
    padding-top:20px;
    padding-right: 50px;
    overflow: auto;
}


.header{
    top:0;
    left:0;
    right:0;
    width:100vw;
    position: fixed;
    height: 8%;
    background-color: #5295FF;
    display:flex;
    align-items:center;
    z-index:1;
}

.header img{
    font-size:5;
}

.searchBar{
    background-color: white;
    width:80%;
    height:5%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding-left: 20px;
     
}

.searchBar input{
border:none;
margin-left: 10px;
height:100%;
background-color: transparent;
width:100%;
}

.searchBar input:focus{
    outline:none;
}

.UserRow{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.userHeader,.postHeader{
    margin-top:20px;
    width:100%;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.userInfo{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    gap:50px;
    
}

.userInfo button{
    margin-left:45px;
    border-radius: 15px;
    width: auto;
    flex-direction: row;
    flex:16.7%;
    border:none;
    height:30px;
    font-size:15px;
    font-size: 20px;
}
#actionheader{
    margin-left:45px;
    border-radius: 15px;
    width: auto;
    flex-direction: row;
    flex:16.7%;
    border:none;
    height:30px;
    font-size:15px;
    font-size: 20px;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    background-color: #E2EDED;
}

.editBtn{
    width: 80px;
}
.username,#usernameheader{
    font-size: 20px;
}

.email,#emailheader{
   /* flex:33%; */
   /* width:80px; */
   font-size: 20px;
}

table{
    width: 100%;
    border-spacing: 50px;
}

.large{
    font-size: 20px;
}