.reportContainer{
    position: fixed;
    z-index : 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.reportClass{
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 40em;
    height:100%;
}

.reportItems{
    text-align: left;
    margin-bottom: 1rem;
    font-size:20px;
}

.reasonContainer{
    overflow:auto;
}

.delete{
    display:flex;
    justify-content: flex-end;
}
